# for local development
# quicker to load
# navigatea to backend, then run: node server.js
#VITE_API_URL=http://localhost:5001/api


# production
# for Render backend deployment to the web (to show up on vercel frontend)
VITE_API_URL=https://cornell-bathroom-api.onrender.com