.bathroom-card {
  text-align: left;
  border: 0px solid var(--accent);
  padding: 20px;
  margin: 10px 0;
  background-color: #bde0ee;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 600px;
}

.bathroom-card h3 {
  margin-top: 0;
  color: #242424;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 25px;
  font-weight: 700px;
}

.bathroom-card p {
  margin: 8px 0;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
}

.bathroom-card p strong {
  font-size: 16px;
  font-weight: 700;
}


.bathroom-card a {
  color: rgb(54, 95, 145);
  text-decoration: underline;
  font-size: 16px;
}